csrc
simv.daidir
verdiLog
stack.info.*
*.jou
*.log
*.str
*.fsdb
*.key
simv
novas.*
vc_hdrs.h
*.a
*.o
*.swp
*.cache/
*.gen/
*.runs/
.vscode/
rtl/spyglass/
rtl/work/
fpga/
syn/
syn_simple/
trace/
mount.sh
umount.sh
