csrc
simv.daidir
verdiLog
stack.info.*
*.jou
*.log
*.str
*.fsdb
*.key
*.db
*.shm
*.run
simv
novas.*
vc_hdrs.h
.indago_auto_save*
*.out
*.elf
*.a
*.so
*.o
*.swp
*.history
*.err
*.diag
*.cache/
*.gen/
*.runs/
xcelium.d/
.bpad/
.ida.*/
.simvision/
simprofile*/
profile*
indago_logs/
.vscode/
.ccls-cache/
rtl/spyglass/
rtl/work/
fpga/
fpga_test/
syn/
syn_simple/
trace/
trace_fast/
tb_output/
image/
mount.sh
umount.sh
